@page {
    size: A4;
    margin: 1cm;
  }
  
  body {
    font-family: "微软雅黑", sans-serif;
    font-size: 12pt;
    line-height: 1.5;
  }
  
  h1 {
    font-weight: bold;
    font-size: 24pt;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
  }
  
  h2 {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 0.8cm;
    margin-bottom: 0.4cm;
  }
  
  h3 {
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0.6cm;
    margin-bottom: 0.3cm;
  }
  
  p {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    white-space: pre-line; /* 识别换行符 */
  }
  
  ul, ol {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    padding-left: 2cm;
  }
  
  li {
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
  }
  
  code {
    font-family: Consolas;
    background-color: #e0e0e0; /* 更浅的灰色背景 */
    color: #555; /* 灰黑色文字颜色 */
    padding: 2px 4px;
    border-radius: 3px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  /* for inline code */
  :not(pre):not(.hljs) > code {
  	color: #555; 
    font-family: Consolas;
    font-size: 11pt;
    background-color: #e0e0e0; /* 更浅的灰色背景 */
  }
  .emoji {
    height: 1.4em;
  }
  blockquote {
    background: rgba(127, 127, 127, 0.1);
    border-color: rgba(0, 122, 204, 0.5);
  }